.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    font-size: 16px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1,
    h2 {
      font-size: 28px;
    }
  
    a {
      font-size: 16px;
    }
  
    input {
      font-size: 14px;
    }
  
    button {
      font-size: 16px;
    }
  
    ul {
      margin-left: -10px;
      margin-right: -10px;
    }
  
    li {
      margin-bottom: 10px;
    }
  }